body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #ccc;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
