body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: green;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ccc;
}
